

body {background-color:grey}

h1 {text-align:center; color:#334433}

ul {font-family:Estrangelo Edessa; color:orange; font-size=16 pt; font-weight:bold}

#italic{font-weight:bold; font-family:Segoe Print}

td {color:white; font-size=13 pt}

img {width:400; height:300}

#fot {width:250; height:330}

th {font-size=22 pt}